/*-------------------- general --------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

/* img {
    width: 100%;
    min-width: 70px;
} */

/*-------------------- body --------------------*/
body {
    font-family: sans-serif;
    font-size: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
} 

/*-------------------- header --------------------*/
header {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);
}
header img {
    padding-left: 1em;
    padding-right: 1em;
}
header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}
header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

/*-------------------- nav menu --------------------*/
#nav_menu {
    border-bottom: 3px solid #800000;
    background-color: #800000;
}
#nav_menu ul {
    list-style-type: none;
    display: flex;
}
#nav_menu li {
    width: 20%;
}
#nav_menu a {
    text-align: center;
    display: block;
    padding: 0.7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#nav_menu a:hover {
    color: yellow;
}

/*-------------------- main --------------------*/
main {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
}
main section {
    width: 75%;
}
main aside {
    width: 25%;
}
main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}
main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}
main li {
    padding-bottom: .35em;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
    border-bottom: 3px, solid, and #931420;
    border-top: 3px, solid, and #931420;
}
main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}
main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

/*-------------------- footer --------------------*/
footer {
    display: flex;
    justify-content: center;
    background-color: #931420;
}
footer p {
    color: white;
    padding: 1em 0;
}

/*-------------------- other --------------------*/
a:hover {
    font-style: italic;
}
#shadow {
    text-shadow: 2px 1px 5px #800000;
}
#mobilemenu {
    display: none;
}

/*-------------------- Media Queries --------------------*/
@media only screen and (max-width: 900px) {
    body {
        box-shadow: none;
        font-size: 90%;
    }
}
@media only screen and (max-width: 767px) {
    #mobilemenu {
        display: block;
    }
    #nav_menu {
        display: none;
    }
    
    main {
        flex-direction: column;
        align-items: center;
    }
    section, aside {
        width: 95%;
    }
    .slicknav_menu {
        background-color: #800000;
    }
    header h2 {
        font-size: 200%;
    }
}
@media only screen and (max-width: 479px) {
    header {
        font-size: smaller;
    }
}